{#
/**
 * @file entity_split.html.twig
 * Default theme implementation to present Entity split data.
 *
 * This template is used when viewing Entity split pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entity_split()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('entity_split') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
